<div class="card">
    <h1 mat-dialog-title></h1>
  <div mat-dialog-content style=" padding: 0 px; margin: auto;">
  <mat-form-field class="full-width-input">
      <input matInput type="text" placeholder="Enter your name"
          [(ngModel)]='editingUser.name' required>
  </mat-form-field>
  <mat-form-field class="full-width-input">
          <input matInput type="phone" placeholder="Enter your phone number"
              [(ngModel)]='editingUser.phone' required>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="email" placeholder="Enter your email adress"
            [(ngModel)]='editingUser.email' required>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
      <button mat-raised-button (click)="onNoClick()">Cancel</button>
      <button class="right-align"  mat-raised-button color ="primary"
      [mat-dialog-close]="editingUser">Add</button>
  </div>
</div>